<mat-card>
    <mat-card-title>
        Novo Usuário
    </mat-card-title>
    <form>
        <mat-form-field>
        <input matInput placeholder="Nome" 
        [(ngModel)]="user.name" name="name">
    </mat-form-field>
    <mat-form-field>
    <input matInput placeholder="E-mail" 
    placeholder="E-mail" 
        [(ngModel)]="user.email" name="email">
    </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="userCreate()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>